.mypage-content
  .my-header
    = render 'items/headder'
  .my-tag
    = render 'layouts/tag'
  .my-content
    = render 'layouts/sidebar'
    .main-bar
      .credit-content
        %h2.credit-content__header
          支払い方法
        = form_with local:true do |f|
          .credit-form
            = link_to new_mypages_card_path, method: :get do
              = f.submit 'クレジットカードを追加する',class:'credit-btn'
            = link_to card_path (current_user.id) do
              = f.submit 'クレジットカードを削除する',class:'credit-btn'
  .my-footer
    = render 'items/footer'