.mypage-content
  .my-header
    = render 'items/headder'
  .my-tag
    = render 'layouts/tag'
  .my-content
    = render 'layouts/sidebar'
    .main-bar
      = render'cards/card'
  .my-footer
    = render 'items/footer'