.content
  //header部分
  = render "layouts/item-header"
  //body部分
  .content-main
    .content-main__buy
      //bodyのheader部分
      %h2.content-main__buy__head
        購入内容の確認
      //商品の画像と値段
      .content-main__buy__item
        .content-main__buy__item__inner
          .content-main__buy__item__inner__box
            %h3.content-main__buy__item__inner__box__image
              = image_tag 'https://static.mercdn.net/thumb/photos/m50753128973_1.jpg?1569347049',size: "60x80"
            .content-main__buy__item__inner__box__detail
              %p.item-name
                トップス
              %p.item-buy
                %span.item-buy__price
                  ¥3,300
                %span.item_buy__fee
                  （税込）送料込み
      //商品購入フォーラム
      .content-main__buy__item__detail
        .content-main__buy__item__detail__inner
          = form_with action: :pay, method: :post, local: true do |f|
            %ul.price-cell
              %li.praice-cell__list
                .price-cell__list__label
                  支払い金額
                .price-cell__list__price
                  %span.price-cell__list__price__data
                    ¥3,300
            .buy-pay-info
              .buy-pay-info__inner
                %h3
                  支払い方法
                .user-info-update
      .user-info-text
      - if @default_card_information.blank?
        %br /
      - else
        = "**** **** **** " + "#{@default_card_information.last4}"
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = "有効期限 " + exp_month + " / " + exp_year
        %br
  .buy-content__user-info
    .buy-content__user-info__inner              
      %h3 配送先
      .user-info-update
      .user-info-text
        〒111-1111
        %br
        大阪府大阪市北区〇〇1-11
        %br
        山田太郎
        = form_tag(action: :pay, method: :post) do
          %button.buy-button{type:"submit"} 購入する

  //footer部分
  = render "layouts/item-footer"


