.sell
  %header.sell-header
  = render "layouts/item-header"

  %main.sell-main
    %section.sell-container
      = form_with model: @item,local: true do |f|
        -# 出品画像
        .sell-container__content
          .sell-title
            %h3.sell-title__text
              出品画像
              %span.sell-title__require
                必須
            %p 最大10枚までアップロードできます
            #image-box-1
              .item-num-0#image-box__container
                = f.fields_for :images do |i|
                  .input-area
                    = i.file_field :url,multiple:true,style: "display:none", id:"img-file",class: "sell-container__content__upload__items__box__input",required:true
                    %label{for: "img-file"}
                      %i.fas.fa-camera
          .error-messages#error-image

        -#商品名
        .sell-container__content
          .sell-title-name
            %h3.sell-title__text
              商品名
              %span.sell-title__require
                必須
          = f.text_field :name, {class:'sell-container__content__name', required: "required", placeholder: '40文字まで'}
          .error-messages#error-name
          .sell-title
            %h3.sell-title__text
              商品の説明
              %span.sell-title__require
                必須
          = f.text_area :introduction,{class: 'sell-container__content__description', required: "required", rows: '7', maxlength: '1000', placeholder: "商品の説明（必須 1,000文字以内)&#13;&#10;(色、素材、重さ、定価、注意点など)&#13;&#10; &#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe}
          .sell-container__content__word-count
            %span#word-count
              0
            &#47;1000
          .error-messages#error-text

        -# 詳細
        .sell-container__content
          %h3.sell-sub-head 商品の詳細
          .sell-container__content__details
            .sell-title
              %h3.sell-title__text
                カテゴリー
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :category_id, {class: 'sell-collection_select__label'} do
                = f.select :categoly,['選択してください','レディース','メンズ','ベビー・キッズ','インテリア・住まい・子供'],{},class: 'sell-collection_select__pulldown',required: true
                -# 上記はactive_hash適応後下記に書き換え
                -# = f.collection_select :category_id, Category.where(sub: '0'), :id, :name, {prompt: "選択して下さい"},{ class: 'sell-collection_select__input', id: 'category-select', required: "required"}
            .error-messages#error-category
          
            .sell-title
              %h3.sell-title__text
                ブランド
                %span.sell-title__any
                  任意
            = f.text_field :bland, {class:'sell-container__content__name', placeholder: '例）シャネル'} 
            .error-messages#error-cat
            
            .sell-title
              %h3.sell-title__text
                商品の状態
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :condition_id, {class: 'sell-collection_select__label'} do
                = f.select :condition_id, Item.condition_ids.keys { |p| [ p.name, p.id ] },include_blank: "選択してください"
            .error-messages#error-condition

        -# 配送
        .sell-container__content
          %h3.sell-sub-head
            %p 配送について
          .sell-container__content__delivery
            .sell-title
              %h3.sell-title__text
                配送料の負担
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :deliverycost_id, {class: 'sell-collection_select__label'} do
                = f.select :postage_payer, Item.postage_payers.keys { |p| [ p.name, p.id ] }, include_blank: "選択してください"
            .error-messages#error-deliverycost

            .sell-title
              %h3.sell-title__text
                発送元の地域
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :pref_id, class: 'sell-collection_select__label' do
                = f.collection_select :prefecture_name, Prefecture.all, :id, :name,class: "sell-collection_select", include_blank: "選択してください"
            .error-messages#error-pref

            .sell-title
              %h3.sell-title__text
                発送までの日数
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :delivery_days_id, class: 'sell-collection_select__label' do
                .sell-collection_select
                  = f.select :preparation_day, Item.preparation_days.keys { |p| [ p.name, p.id ] }, include_blank: "選択してください"
            .error-messages#error-delivery_days

        -# 価格
        .sell-container__content
          %h3.sell-sub-head
            %p 価格(¥300〜9,999,999)
          .sell-container__content__price
            .sell-title-price
              %h3.sell-title__text
                販売価格
                %span.sell-title__require
                  必須
            .sell-container__content__price__form
              = f.label :price, class: 'sell-container__content__price__form__label' do
                ¥
                = f.number_field :price, {placeholder: '0', value: '', autocomplete:"off", class: 'sell-container__content__price__form__box', required: "required"}
          .error-messages#error-price

          .sell-container__content__commission
            .sell-container__content__commission__left
              販売手数料 （10%）
            .sell-container__content__commission__right ー
          .sell-container__content__profit
            .sell-container__content__profit__left
              販売利益
            .sell-container__content__profit__right ー

          -# 出品確定、戻るボタン
          .submit-btn
            = f.submit '出品する', class: 'submit-btn__sell-btn'
            = link_to 'もどる', root_path, class: 'submit-btn__return-btn'
          .attention-box
            %p
              禁止されている
              = link_to '行為', '/prohibited_conduct', target: '_blank'
              および
              = link_to '出品物', '/prohibited_item', target: '_blank'
              を必ずご確認ください。
              = link_to '偽ブランド品', '/counterfeit_goods', target: '_blank'
              や
              = link_to '盗品物', '/stolen_goods', target: '_blank'
              などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
              = link_to '加盟店規約', '/seller_terms', target: '_blank'
              に同意したことになります。
    
    %footer.sell-footer
      = render "layouts/item-footer"
