.mypage-content
  .my-header
    = render 'items/headder'
  .my-tag
    = render 'layouts/tag'
  .my-content
    = render 'layouts/sidebar'
    .main-bar1
      .main-bar1-box
        %h2.content-card__head クレジットカード情報
        .form-content
          %span カード番号
          %br
          = "**** **** **** " + @default_card_information.last4
          %br
        .form-content2
          %span 有効期限
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        = form_tag(card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button.delete-btn 削除する

  .my-footer
    = render 'items/footer'
